# Lingkungan Virtual (Penting untuk diabaikan)
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data (Abaikan file gambar/dataset, tapi biarkan foldernya jika menggunakan .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/patches (70-15-15)/*
!data/patches (70-15-15)/.gitkeep
data/patches (80-10-10)/*
!data/patches (80-10-10)/.gitkeep
data/processed (70-15-15)/*
!data/processed (70-15-15)/.gitkeep
data/processed (80-10-10)/*
!data/processed (80-10-10)/.gitkeep


# Model Machine Learning (Abaikan file model berukuran besar)
models/*.pt
models/*.pth
models/*.h5
models/*.pkl
models/*.joblib
models/*.onnx

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# File konfigurasi OS
.DS_Store
Thumbs.db